@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
  body {
    background:#c9c9ff;
    background-repeat: no-repeat;
    background-size:cover;
    width: 100%;
    height: 100%;
    color: #808080;
    margin: 5%;
    font-family: 'Poppins', sans-serif;
  }
  a
  {
    text-decoration: none;
    color: #808080;
  }
  main{
    height: 10%;
  }
  h1
  {
    font-size: 2.5em;
    font-weight: 900;
    text-align: center;
    color: 	#333333;
    font-variant: small-caps;
    font-stretch: wider;
    /* background-color: #3e3f40; */

  }
  .template
  {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14em;
    height: 6em;
    border-radius: 1em;
    color: #af9dda;
    background-color: #fff;
    margin: 5%;
    cursor:pointer;
    font-stretch: wider;
}
.template:hover{
  font-weight: 900;
    position: relative;
    top: -5px;
    transform: rotate(-50deg,-50deg);
    transition: 1s;
    box-shadow:  0 2px 10px 1px  #3e3f40;
}
/* play */
img:hover{
  position: relative;
    top: -5px;
    transform: rotate(-50deg,-50deg);
    transition: 1s;
    cursor: pointer;
}

   /* Footer */
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width:100vw;
    display: flex;
    justify-content: space-around;
    align-items:center ;
  } 
  footer ul{    
        display: flex;
        list-style: none;
        width: 30%;
        justify-content: space-around;
    }